td, th {
    vertical-align: middle !important;
}
.left, .right {
    float:left;
    height:100vh;
}

.left {
    background: #337ab7;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
}

.right {
    background: #fff;
    width: 350px;
    transition: width 1s;
    border-style:solid;
    border-color:#ccc;
    border-width:1px;
}    

.left:hover {
    width: 250px;
}    

.item:hover {
    background-color:#ccc;
}
    
.left .glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
}

.right .glyphicon {
    color:#a9a9a9;
}
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
}

a {
   color: #ffffff;
}
    
    
   

    