<div class="left" *ngIf="activeSession">
    <div class="item">
        <span class="glyphicon glyphicon glyphicon-home"></span>
        <a class="btn-sidebar" routerLink="/">
            Conversas
        </a>
    </div>
    <div class="item">
        <span class="glyphicon glyphicon glyphicon-user"></span>
        <a class="btn-sidebar" routerLink="/user">
            Meu perfil
        </a>
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-th-list"></span>
        <a class="btn-sidebar" routerLink="/conversations/user">
            Minhas Conversas
        </a>
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-comment"></span>
        <a class="btn-sidebar" routerLink="/comments/user">
            Meus comentários
        </a>
    </div>
    <div class="item active">
        <span class="glyphicon glyphicon-log-out"></span>
        <a class="btn btn-link" (click)="logOut()">
            Sair
        </a>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
