<div class="alert alert-success alert-dismissible" role="alert" *ngIf="showUpdatedMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Comentário atualizado com sucesso!
</div>

<p class="title">Meus Comentários</p>
<div class="row">
  <div class="col-sm-6 col-md-6 col-sm-6" *ngFor="let comment of comments; let commIndex = index">
    <div class="thumbnail">
      <div class="caption text">
        <textarea [(ngModel)]="comment.attributes.content" placeholder="Conteúdo" class="form-control"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-ej-blue" (click)="updateComment(comment)">Salvar</button>
        <button class="btn btn-danger" (click)="deleteComment(comment, commIndex)">Excluir</button>
      </div>
    </div>
  </div>
</div>