<div *ngIf="errors != null" class="alert alert-danger">
  <div *ngFor="let error of errors">
    <b>{{error.field}}</b>: {{error.message}}
  </div>
</div>

<div id="form-container">
  <div id="comment-new-form" class="row">
    <div class="col-lg-8">
      <textarea [(ngModel)]="comment.content" placeholder="Conteúdo" class="form-control"></textarea>
    </div>
    <div class="text-center col-lg-4">
      <button class="btn btn-ej-blue" (click)="createComment()"> Criar novo comentário </button>
    </div>
  </div>
</div>