<div *ngIf="errors != null" class="alert alert-danger">
  <div *ngFor="let error of errors">
    <b>{{error.field}}</b>: {{error.message}}
  </div>
</div>

<div id="form-container">
  <p class="title">Sign up</p>
  <div id="account-new-form">
    <input type="text" [(ngModel)]="user.name" placeholder="Nome" class="form-control">
    <br>
    <input type="text" [(ngModel)]="user.email" placeholder="E-mail" class="form-control">
    <br>
    <input type="password" [(ngModel)]="user.password" placeholder="Senha" class="form-control">
    <br>
    <div class="text-center">
      <button class="btn btn-ej-blue" (click)="createUser()"> Cadastrar </button>
    </div>
  </div>
</div>