<div class="alert alert-success alert-dismissable" role="alert" *ngIf="showSuccessMessage">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Usuário atualizado com sucesso!
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <div class="caption">
            <p class="title">{{user.attributes.name}}</p>
            <input type="text" [(ngModel)]="user.attributes.name" placeholder="Nome" 
                [disabled]="isFbUser()" class="form-control">
            <br>
            <input type="text" [(ngModel)]="user.attributes.email" placeholder="E-mail" 
                [disabled] = "isFbUser()" class="form-control">
            <br>
            <!-- <input type="password" [(ngModel)]="user.attributes.new_password" placeholder="Nova Senha" 
            *ngIf="showPasswordField" class="form-control"> -->
            <!-- <br> -->
            <div *ngIf="!isFbUser()">
                <!-- <a class="btn text" *ngIf="!showPasswordField" (click)="showPasswordField = true"> Alterar Senha </a> -->
                <div class="text-center" >
                    <button class="btn btn-ej-blue" (click)="updateUser()"> Alterar </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
