.thumbnail {
    margin-left: 60vh;
    width: 100%;
    -webkit-box-shadow: 3px -1px 5px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px -1px 5px 1px rgba(0,0,0,0.26);
    box-shadow: 3px -1px 5px 1px rgba(0,0,0,0.26);
}