<div *ngIf="errors != null" class="alert alert-danger">
  <div *ngFor="let error of errors">
    <b>{{error.field}}</b>: {{error.message}}
  </div>
</div>

<div id="conversation-new-form" class="row">
  <div class="col-lg-8">
    <input type="text" [(ngModel)]="conversation.title" placeholder="Título" class="form-control">
    <br>
    <textarea [(ngModel)]="conversation.description" placeholder="Descrição" class="form-control"></textarea>
    <br>
  </div>
  <div class="text-center">
    <button class="btn btn-ej-blue" (click)="createConversation()" 
    [disabled]="checkIfCanCreate()"> Criar nova conversa </button>
  </div>
</div>