#agree-btn{
    margin-right: 10%; 
}

#disagree-btn{
    margin-left: 10%; 
}

.thumbnail {
    -webkit-box-shadow: 3px -1px 5px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px -1px 5px 1px rgba(0,0,0,0.26);
    box-shadow: 3px -1px 5px 1px rgba(0,0,0,0.26);
}