
<p class="title">Comentários</p>
<div class="row">
  <div class="col-sm-6 col-md-6 col-sm-6" *ngFor="let comment of comments">
    <div class="thumbnail">
      <div class="caption text">
        {{comment.attributes.content}}
      </div>
      <div class="text-center">
        <button class="btn btn-xs btn-success" (click)="vote(comment.id, 1)" id="agree-btn">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        <button class="btn btn-xs btn-danger" (click)="vote(comment.id, -1)" id="disagree-btn">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
      </div>
    </div>
  </div>
  <app-comment-new (onCreated)="addNewComment($event)" [conversationId]="conversationId"></app-comment-new>
</div>