#form-container {
    position: absolute;
    width: 50%;
    height: 50%;

    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

#account-login-form {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.login-btn {
    width: 100%;
    padding: 8px;
}