<div *ngIf="errors != null" class="alert alert-danger">
    <div *ngFor="let error of errors">
      <b>{{error.field}}</b>: {{error.message}}
    </div>
  </div>

<div id="form-container">
  <p class="title">Sign In</p>
  <div id="account-login-form">
    <input type="text" [(ngModel)]="user.email" placeholder="E-mail" class="form-control">
    <br>
    <input type="password" [(ngModel)]="user.password" placeholder="Senha" class="form-control">
    <br>
    <div class="text-center login-btn">
      <button class="btn btn-ej-blue login-btn" (click)="signIn()"> Entrar </button>
    </div>
    <div class="text-center login-btn">
      <button
        class="btn btn-primary login-btn "
        (click)="signInWithFacebook()"> <i class="fa fa-facebook"></i> Entrar com Facebook </button>
    </div>
    <a class="btn btn-link pull-right text" routerLink="/signup">Cadastrar-se</a>
  </div>
</div>