<p class="title">
  {{conversation?.attributes.title}}
</p>
<p class="text">{{conversation?.attributes.description}}</p>

<div class="alert alert-success alert-dismissable" role="alert" *ngIf="showSuccessMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Voto adicionado com sucesso!
</div>
<div class="row">
  <div id="comment-list" class="col-lg-6">
    <app-comment-list *ngIf="showCommentsComponent" [conversationId]="conversation.id"
    (addedVote)="showMessage()"></app-comment-list>
  </div> 
  <div class="text-center col-lg-6 pull-right">
    <p class="title">
      Grupos de Opinião
    </p>
    <app-cluster></app-cluster>
  </div>
</div>


  