/* You can add global styles to this file, and also import other style files */

.title {
    color:  #4d94ff;
    font-family: Lato;
    font-weight: bold;    
    font-size: 28px;
}

.text {
    font-family: Lato;
    font-size: 14px;
}

.btn-ej-blue {
    background-color:  #4d94ff;
    color: #ffffff;
}

.btn-ej-blue:hover {
    background-color:  #008ae6;
    color: #ffffff;
}

.background-body {
   background-image: url('/assets/background.png');
}

.container {
    padding-top: 10vh;
}