<p class="title"> Minhas Conversas </p>

<div class="alert alert-success alert-dismissable" role="alert" *ngIf="showUpdatedMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Conversa atualizada com sucesso!
</div>
<div class="list-group" *ngFor="let conversation of conversations; let convIndex = index">
  <div class="list-group-item">
    <input type="text" [(ngModel)]="conversation.attributes.title" placeholder="Título" class="form-control">
    <textarea [(ngModel)]="conversation.attributes.description" placeholder="Descrição" class="form-control"></textarea>
    <div>
      <button class="btn btn-ej-blue" (click)="updateConversation(conversation)">Salvar</button>
      <button class="btn btn-danger" (click)="deleteConversation(conversation, convIndex)">Excluir</button>
    </div>
  </div>
</div>