<div class="container">
  <p class="title"> Conversas </p>
  <div class="list-group" *ngFor="let conversation of conversations">
    <a [routerLink]="['/conversation', conversation.id]" class="list-group-item">
      <p class="conversation-title list-group-item-heading">{{conversation.attributes.title}}</p>
      <p class="text list-group-item-text">{{conversation.attributes.description}}</p>
    </a>
  </div>
  <app-conversation-new (onCreated)="addConversationOnList($event)"></app-conversation-new>
</div>
